<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PlayersServlet</servlet-name>
        <servlet-class>Web.PlayersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerServlet</servlet-name>
        <servlet-class>Web.PlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamServlet</servlet-name>
        <servlet-class>Web.TeamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatchServlet</servlet-name>
        <servlet-class>Web.MatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamsServlet</servlet-name>
        <servlet-class>Web.TeamsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerAddServlet</servlet-name>
        <servlet-class>Web.PlayerAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewMatchServlet</servlet-name>
        <servlet-class>Web.NewMatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamAddServlet</servlet-name>
        <servlet-class>Web.TeamAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlayersServlet</servlet-name>
        <url-pattern>/players</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerServlet</servlet-name>
        <url-pattern>/player</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamServlet</servlet-name>
        <url-pattern>/team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatchServlet</servlet-name>
        <url-pattern>/match</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamsServlet</servlet-name>
        <url-pattern>/teams</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerAddServlet</servlet-name>
        <url-pattern>/newPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewMatchServlet</servlet-name>
        <url-pattern>/newMatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamAddServlet</servlet-name>
        <url-pattern>/teamAdd</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
